<h1>Scotland Premiership search</h1>
<p>Search for a team below...</p>

<form method="GET" action="/results">
  <lable for="search"></lable>
  <input type="text"  id="search" name="teamSearch" />

  <input type="submit" />
</form>