
<head>
  <link rel="stylesheet" href="https://widgets.sportmonks.com/css/app.css">
</head>
<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"></a>
    <!-- Player search form -->
    <form method = "GET" class="d-flex" action = "/results">
    </form>
  </div>
</nav>

<!-- Live scores table -->
<br>
<div id="sportmonks-widget" data-widget="livescore" data-info="xJeKBkBCgwrEb4RiJvvlQ6pD3YoeJwWjWtfMltD32yUbf6X2qQrZlF3dZmqelswzSCt9HOTbEhuGCvY5EFak/0hrpEMnxV8aRmdoIqOZqxBu/EfCfu7/kx+1ysmtr2qXDcKB3aOzftUyO5Twkv5kDo2J5aVn3vn+CE8J6e98Iz2Ar5x0/oFhkED04sc4cQFCnGHBg6KVKqJ8pKtWZZCxrT6P2Bwg5dg1ayTCoBUYHTwCNoCNxUAcph3e0nR9rWzrGItM17a4TmhhBMHpRfbQuhZzjbGZIw2m2gFRM1F3KPANs78pOXwrwmWzktpZfFbej1PStMK/G2Bx10eJntuFHjCOkwXx6wrD306N+8Z4izTl2fagFyJghEOfG78JFh/jSaP5wUjhNACHJHgLbj9f8OkRsZ+tpknTJu+KD3LW5MiaHhnCI4Upa8jO6yUzbWDOy+zNfXHQllZnK9NlhWOnXdbm8DFXwcIICVAxqFhm/UwebBz+7rhcWFtK+MQKWfdFIV46VvbAtEp7Cb+p24rmWQ3tH1Mk60yP/E6s0nmGpd/VA2h5Y+JIXzRePVaA6FNjo69B/SB0YM6m54v/oJ0DS87y37/P1wkKLij8nK3ZTbSzf2cDqxNVH2guOQC1Y/So44Fd97DqWtiy6hGWMvqJRganFYY4//17bv/yMyztpZw="
        data-leagues="82,8,564,72" 
            data-colors="#010122,#FCFEFF,#E5103A"
        
       
       data-theme="dark"
        
        
		
		></div>
  <!-- Live scores table -->
    <script type="text/javascript"
                src="https://widgets.sportmonks.com/js/app.js"></script>