
  <div>
  
    <!-- Player search form -->
    <!-- <form method = "GET" class="d-flex" action = "/results">
    </form> -->
    <h1 class="text-3xl font-bold underline">
      Select a league
    </h1>


   
  </div>

