
<head>
  <link rel="stylesheet" href="https://widgets.sportmonks.com/css/app.css">
</head>
<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"></a>
    <!-- Player search form -->
    <form method = "GET" class="d-flex" action = "/results">
    </form>
  </div>
</nav>

<!-- Live scores table -->
<br>
<div id="sportmonks-widget" data-widget="livescore" data-info="FnsFhlu7a64wk26TYmXDNK3+oegJ5qHODS3Ye2HyfrlsGeSaZTVPz9gPKR2pa5qxFTIBKjl1QK6i61qkjzlNNhqjp7gsVftHMTAKJzhbmho4LzJMndJIL2N70riBDXbRu+QUQ8J6D0Hns/xhg3YGxPIKisgokHSftQK648tNma3RHDdzZ/Sy9MaE0ciXGRxN12sXt4b+74P8YBMtTPjJGyidFnMZ86vduVMgDV4riq6/uZ64fnqbwJja3KQGynJpLwMNMm1inUw1nE6BdSpwH48k3SDbMMG1xFP2RuNNnCudjhHsvNRqJy5VlYhKIHTuiXJDlG9+Fe/+wvE6NPcdXHhEZlM/XSg2hWPdTh6cyIyOD4cROzqrhf/13sRpax3oZXP4PDOjN+vu+Nrx9UWssS85XOynt8UcuKe4itTWHOABsSaH/CAP/2Df5XLHjbAi1K35EOeLmxK5lHPJVDD6cRlmV/ByDNl0KQvYbgwvmvnY3c9xag283OuTXue9DZYqZtU47czKzR53ktoxVSkwOuWjNaVZVvnxKiP9aqqnF/11YgWkBBiOy0wmQNi5arbwI72xGByyjC8l3mq6CJHNXOVuHDx8RMr5qpf007Z/ZxiI7Z0qx4Fbt/x0qvIsiGyyyqqCC7prNEcaVDevLdcPhlV10BTcrSMe/A/5X9iNz+4="
         
            data-colors="#010028,#1893C1,#D0D0D9"
        
       
       
        
        data-brand=https://i.imgur.com/Vehc9FT.png
		
		></div>
  <!-- Live scores table -->
