<h1> Edit this post: </h1>
<form action = "/timeline/:id/edit" method = "PUT">

    <label for = 'header'>header: </label>
    <input id = 'header' type = "text" name = 'header' required>

    <label for = 'post'>type here... </label>
    <input id = 'post' type = 'post' name = 'post' required>

    <a href = "/timeline/<%= timeline.id %>/delete">Delete</a>
    <a href = "/timeline/<%= timeline.id %> ">Save</a>
</form>


