<br>
<br>
<br>
<br>
<h3>Create a new post: </h3>
<form action = "/timeline" method = "POST">
    <div class="mb-3">
        <label for="header" class="form-label">Subject:</label>
        <input type="text" name = "header" class="form-control" id="exampleFormControlInput1" placeholder="Subject...">
      </div>
      <div class="mb-3">
        <label for="post" class="form-label">textarea</label>
        <textarea class="form-control" name = "post" id="post" rows="3"></textarea>
      </div>
      <input type = "hidden" name = 'userId' value = "<%= user.id %>">
      <input type = 'hidden' name = 'username' value = "<%= user.username%>">
    <button type = 'submit'>Send post</button>
</form>