<br>
<br>
<br>
<br>
<h3>Create a new post: </h3>
<form action = "/timeline" method = "POST">

    <label for = 'header'>header: </label>
    <input id = 'header' type = "text" name = 'header' required>

    <label for = 'post'>type here... </label>
    <input id = 'post' type = 'post' name = 'post' required>
    

    <button type = 'submit'>Send post</button>
</form>

