
<div>
    <!-- console.log(`RESULTS PAGE - ${playerSearch.league.name}`)  -->
    
    <img class="float-start" src=<%=leagueSearch.league.logo %> alt='league logo'> </img>
    <form  method = "GET" class="d-flex" action = "/results/players">
        <label for="searchPlayers"> Search for a player</label>
        <br>
        <input id = 'searchPlayers' name = 'searchPlayers' class="form-control me-2" type="search" placeholder="Find a player" aria-label="Search">
        &nbsp;
        <br>
        <button class="btn btn-outline-danger" type="submit">Search</button>
    </form>

    <div id="wg-api-football-standings"
    data-host="api-football-v1.p.rapidapi.com"
    data-key='<%= apiKey%>'
    data-league="<%=leagueSearch.league.id %>"
    data-team=""
    data-season="2022"
    data-theme="dark"
    data-show-toolbar="true"
     data-show-errors="false"
     data-show-logos="true"
     data-modal-game="true"
     data-modal-standings="true"
     data-modal-show-logos="true"
    class="wg_loader rounded float-start">
</div>

</div>

<script type="module"src="https://widgets.api-sports.io/2.0.3/widgets.js"></script>


    <!-- Comment boxes under every player -->
    