
 <br>
 <br>
 <br>
 <br>
<!-- Results found and listed depending on the player that is searched for by the user -->

<div>
    <% console.log(`RESULTS PAGE - ${playerSearch.league.name}`) %> 
    <p><%= playerSearch.league.name %> </p>
  
</div>

    <!-- Comment boxes under every player -->
    