
 <br>
 <br>
 <br>
 <br>
<!-- Results found and listed depending on the player that is searched for by the user -->
<% players.forEach(player => { %>
    <div class="card" style="width: 18rem;">
        <img src="<%=player.image_path %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= player.display_name %> </h5>
          <p class="card-text"><%= player.nationality %> </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
<% }) %>
    <!-- find or create for players -->
    <!-- /players/comments? then query string -->
    <!-- db.player.findorCreate() then add the comment -->

    <!-- Comment boxes under every player -->

    <a href="/">&larr; Back Home</a>
